[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow = "*"
gunicorn = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
